@keyframes slideTop {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
*
{
    margin: 0;
    padding: 0;
}
:root
{
    --transition-300: all 300ms ease-in-out;
    --transition-500: all 500ms ease-in-out;
}
.section
{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}
.book-opt
{
    background-color: rgb(247, 240, 240);
    width: 100%;
    display: flex;
    justify-content: center;
    height: 200px;
}
.book-opt form
{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}
.book-opt form h3
{
    font-size: large;
}
.book-opt form select
{
    width: 200px;
    border: none;
    padding: 5px;
    box-shadow: 0px 1px 0px 0px;
}
.book-opt form input
{
    width: 200px;
    padding: 5px;
    border: none;
    box-shadow: 0px 1px 0px 0px;
}
.book-opt form input[type=submit]
{
    background: linear-gradient(to bottom, #f66a43, #f5754a, #FE9368);
    color: white;
}
.welcome
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
}
.welcome p,.welcome span
{
    color: gray;
}
.welcome h3
{
    font-size: large;
}
.welcome-text
{
    width: 50%;
}
.welcome-text-1 h3
{
    font-family: cursive;
    color: #f5754a;
}
.welcome-text-2
{
    width: 100%;
    display: flex;
}
.welcome-text-2-content-1
{
    width: 45%;
}
.welcome-text-2-content-2
{
    width: 45%;
}
.welcome-text-3
{
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: space-around;
    border-top: 1px solid gray;
}
.welcome-text-3 i
{
    font-size: xx-large;
    color: #f5754a;
}
.welcome-text-3 span
{
    font-size: larger;
    color: black;
}
@media screen and (max-width: 1170px)
{
    .welcome
    {
        display: flex;
        flex-direction: column;
        /* background-color: aqua; */
        height: auto;
        padding: 20px 0px;
    }
    .welcome-text
    {
        width: 90%;
    }
    .welcome-text-3
    {
        width: 100%;
    }
    .welcome h3
    {
        text-align: center;
    }
    .book-opt
    {
        background-color: rgb(247, 240, 240);
    }
    .book-opt form
    {
        display: flex;
        width: 100%;
        gap: 0px;
    }   
}
.modern-beautiful
{
    background: url(../sources/scandinavian-mountains-hero.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0px;  
}
.modern-beautiful h3
{
    font-size: large;
    font-family: cursive;
    color: #f5754a;
}
.modern-beautiful h1
{
    color: white;
}
.modern-box
{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}
.box
{
    background-color: white;
    width: 30%;
    border-radius: 10px;
}
.box-text
{
    /* background-color: #f5754a; */
    padding: 20px 10px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.box-text-1
{
    width: 100%;
}
.box-text-1 a
{
    font-size: x-large;
    font-weight: 600;
    color: black;
}
.box-text-2
{
    width: 100%;
    border-bottom: 1px solid gray;
}
.box-text-2 i
{
    color: red;
}
.box-text-3
{
    width: 100%;
    display: flex;
    /* background-color: #FE9368; */
    justify-content: space-between;
    align-items: center;
}
.box-text-3 a
{
    color: black;
}
.box-text-3 i
{
    color: red;
}
.box-image
{
    width: 100%;
    /* height: 200px; */
}
.box-image img
{
    width: 100%;
    height: 100%;
    border-radius: 0 0 10px 10px;
}
@media screen and (max-width: 1170px)
{
    .modern-beautiful
    {
        background: rgb(249, 242, 242);
    }
    .modern-beautiful h1
    {
        text-align: center;
        color: gray;
    }
    .modern-box
    {
        display: flex;
        flex-direction: column;
        /* background-color: #f5754a; */
        gap: 20px;

    }
    .box
    {
        width: 100%;
    }
}
.testimonials
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
    height: 700px;
    padding: 50px 0px;
}
.testimonials-content
{
    background-color: #f9f9f9;
    width: 90%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    /* background: url(../sources/221119-travel-background-1920x1080-laptop.jpg); */
    /* background-position: center right; */
}
.testimonials-text
{
    /* background-color: aqua; */
    padding: 0px 30px;
}
.testimonials-text h3
{
    font-family: cursive;
    color: #f5754a;
    font-size: large;
}
.testimonials-box
{
    display: flex;
    justify-content: space-between;
}
.box-2
{
    display: flex;
    flex-direction: column;
    width: 32%;
    padding: 20px 10px;
    gap: 10px;
    background-color: white;
    border-radius: 5px;
}
.box-2:hover
{
    /* transform: scaleY(1.1); */
    animation: slideTop 0.5s ease forwards;
    transition: .3s;
}
.box-2-info
{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
}
.box-2-info img
{
    width: 100px;
    height: 100px;
    /* display: none; */
    object-fit: cover;
    object-position: top;
    border-radius: 5px;
}
.box-2-info-text
{
    display: flex;
    flex-direction: column;
}
.box-2-para p
{
    width: 80%;
    text-align: justify;
    font-style: italic;
}
.box-2-rate i
{
    color: #f4c627;
    font-size: smaller;
}
.among-the-all
{
    width: 100%;
    background: url(../sources/Rr.jpg) no-repeat;
}
.among-the-all h3
{
    font-size: larger;
    font-family: cursive;
    color: #f5754a;
}
.among-the-all-content
{
    display: flex;
    width: 100%;
    padding: 30px 0px;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.85);
    /* background-color: #f4c627; */
}
.among-image
{
    width: 100%;
    background-color: #f4c627;
}
.among-image img
{
    width: 100%;
}
.among-text
{
    width: 100%;
}
.among-text p
{
    color: gray;
    font-size: smaller;
}
.among-text a
{
    color: black;
    text-decoration: none;
}
.among-small-image
{

}
.small-box
{

}
.place-to-go
{
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 30px 30px;
    gap: 10px;
}
.place-to-go_content
{

}
.place-text
{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.place-text h3
{
    font-size: larger;
    color: #f5754a;
    font-family: cursive;
}
.place-text a
{
    color: white;
    background-color: #f44c28;
    padding: 7px 10px;
    border-radius: 5px;
}
.place-box
{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 5%;
}
.place-box-content
{
    width: 30%;
    background-color: rgba(249, 249, 249, 0.9);
    padding: 20px 20px;
    border-radius: 5px;
    border: 1px solid rgba(105, 105, 105, 0.5);
    
}
.place-box-text
{
    text-align: center;
}
.place-box-info
{
    text-align: center;
}
.place-box-info span
{
    color: #85858d;
}
.place-box-image img
{
    width: 100%;
    height: 230px;
}
.plus a
{
    display: none;
    position: absolute;
    margin-left: 180px;
    margin-top: -120px;
    color: white;
    background-color: #f44c28;
    padding: 2px 7px;
    border-radius: 5px;
}
.place-box-content:hover .plus a
{
    display: block;
    transition: .3s ease-in-out;
}
.place-box-content:hover .backgr
{
    background-color: black;
    width: 26.05%;
    height: 230px;
    position: absolute;
    margin-top: -230px;
    opacity: 0.7;
    transition: .3s ease-in-out;
}
