.introduce
{
    width: 100%;
}
.introduce-banner
{
    width: 100%;
    height: 750px;
    background: url(../sources/www.tommytravel.com3.png);
    background-size: cover;
    background-position: center;
}