*
{
    margin: 0;
    padding: 0;
}
.profile
{
    display: flex;
}
.avatar
{
    width: 30%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.avatar img
{
    width: 100px;

}
.infomation
{
    /* display: flex; */
}
.form-1
{

}
.form-2
{

}
.form-3
{

}

