<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destinations - TommyTravel</title>
    <link rel="stylesheet" href="../layout/describe.css">
</head>
<body>
    <div class="dropdown">
        <a href="#" id="btn" >Link</a>
        <div class="dropdown-content" id="dropdown-content">
            <a href="#">link1</a>
            <a href="#">link2</a>
            <a href="#">link3</a>
        </div>
    </div>
</body>
<script src="../js/main.js"></script>
</html>
