<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduce - TommyTravel</title>
    <link rel="stylesheet" href="../layout/introduce.css">
</head>
<body>
    <div class="introduce">
        <div class="introduce-slide">

        </div>
        <div class="introduce-main">
            <div class="introduce-content">
                <h1>Giới thiệu về trang web</h1>
                <p>Trang web du lịch [tên trang web] là một nền tảng giúp bạn dễ dàng tìm kiếm và đặt tour du lịch phù hợp với nhu cầu của mình. 
                    Chúng tôi cung cấp các tour du lịch trong nước và quốc tế, với nhiều lựa chọn cho nhóm từ 2-10 người.
                </p>
                <h2>Các dịch vụ của chúng tôi bao gồm:</h2>
                <p>Tour du lịch đa dạng: Chúng tôi có hơn 1.000 tour du lịch trong nước và quốc tế, từ các tour ngắn ngày đến các tour dài ngày, từ các tour nghỉ dưỡng đến các tour khám phá.</p>
                <p>Đặt tour dễ dàng: Bạn có thể đặt tour trực tuyến chỉ với vài cú click chuột.</p>
                <p>Dịch vụ xe đưa đón: Chúng tôi cung cấp dịch vụ xe đưa đón tận nơi cho khách hàng.</p>
                <p>Hỗ trợ làm visa: Chúng tôi hỗ trợ khách hàng làm visa cho các tour du lịch quốc tế.</p>
                <h2>Hãy truy cập trang web [tên trang web] ngay hôm nay để bắt đầu lên kế hoạch cho chuyến đi du lịch của bạn!</h2>
                <h1>Dưới đây là một số ví dụ về tour du lịch mà chúng tôi cung cấp:</h1>
            </div>
        </div>
        <div class="introduce-aside">

        </div>
    </div>
</body>
</html>