<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile - TommyTravel</title>
  <link rel="stylesheet" href="../layout/profile.css">
</head>
<body>
  <div class="profile">
    <div class="avatar">
      <img src="../sources/280086317_718083016050425_3655407196902856455_n.jpg" alt="">
      <input type="file">
      <button type="submit">Upload</button>
    </div>
    <div class="infomation">
      <form action="" class="form-1">
        <h3>Username</h3>
        <input type="text" value="hhh">
        
      </form>
      <form action="" class="form-2">
        <h3>Fullname</h3>
        <input type="text" value="dddd">
      </form>
      <form action="" class="form-3">
        <h3>Email</h3>
        <input type="email" value="hnnnnn">
      </form>
    </div>
  </div>
</body>
</html>